<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Site.css")"/>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/metro-bootstrap.css")"/>
    <!--[if lt IE 7]><link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-ie6.min.css")"><![endif]-->
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/dhtmlx.css")"/>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/dhtmlxLayout/dhtmlxlayout.css")"/>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/dhtmlxLayout/skins/dhtmlxlayout_dhx_terrace.css")"/>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/dhtmlxToolbar/skins/dhtmlxtoolbar_dhx_terrace.css")"/>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/dhtmlxTabbar/dhtmlxtabbar.css")"/>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/dhtmlxAccordion/skins/dhtmlxaccordion_dhx_terrace.css")"/>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/dhtmlxTree/dhtmlxtree.css")"/>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/dhtmlxMenu/skins/dhtmlxmenu_dhx_terrace.css")"/>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dhtmlxcommon.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dhtmlxcontainer.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dhtmlxlayout.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dhtmlxtoolbar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dhtmlxtabbar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dhtmlxtabbar_start.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dhtmlxaccordion.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dhtmlxtree.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dhtmlxmenu.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dhtmlxmenu_effects.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dhtmlxmenu_ext.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dhtmlxwindows.js")"></script>
    <script type="text/javascript">
        var w1;

        function View(title, url) {
            ShowDialog(title, url, false, 800, 500);
        }

        function ShowDialog(title, url, isRefresh, width, height) {

            var dhxWins = new dhtmlXWindows();
            dhxWins.setSkin("dhx_terrace");
            dhxWins.setImagePath("@Url.Content("~/Content/dhtmlxWindows/imgs/")");
            w1 = dhxWins.createWindow("w1", 0, 0, width, height);
            w1.setText(title);
            w1.attachURL(url);
            w1.centerOnScreen();
            if (isRefresh) {
                dhxWins.attachEvent('onClose', function () {
                    window.location.reload();
                });
            }
        }

        function close() {
            if (w1 != null) {
                w1.close();
            }
        }
    </script>
    @RenderSection("Head")
</head>
<body style="overflow: auto; width: 100%; height: 100%;">
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">
                &times;</button>
            @if (!string.IsNullOrEmpty(ViewBag.Head))
            {
                <h4>@ViewBag.Head</h4>
            }
            @ViewBag.Error
        </div>
    }
    @if (!string.IsNullOrEmpty(ViewBag.Success))
    {
        <div class="alert alert-success fade in">
            <button type="button" class="close" data-dismiss="alert">
                &times;</button>
            @if (!string.IsNullOrEmpty(ViewBag.Head))
            {
                <h4>@ViewBag.Head</h4>
            }
            @ViewBag.Success
        </div>
    }
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-info fade in">
            <button type="button" class="close" data-dismiss="alert">
                &times;</button>
            @if (!string.IsNullOrEmpty(ViewBag.Head))
            {
                <h4>@ViewBag.Head</h4>
            }
            @ViewBag.Message
        </div>
    }
    @if (!string.IsNullOrEmpty(ViewBag.Warning))
    {
        <div class="alert alert-block fade in">
            <button type="button" class="close" data-dismiss="alert">
                &times;</button>
            @if (!string.IsNullOrEmpty(ViewBag.Head))
            {
                <h4>@ViewBag.Head</h4>
            }
            @ViewBag.Warning
        </div>
    }
    @RenderBody()
</body>
</html>
